body
{
	font-size: 20px;
}

#mainContainer
{
	margin: 0 auto;
	width: 100%;
}

.categoryDiv
{
	float: left;
	width: 28%;
	margin: 50 10 0 10;
	height: 600px;
	padding: 20;
	border: dashed 2px #ccc;
	background-color: #eee;
}
.categoryTitle
{
	float: left;
	width: 90%;
	padding: 5 0 5 20;
	background-color: #aaa;
	margin-bottom: 10;
}
.machineDiv
{
	float: left;
	width: 100%;
}
.machineDiv div
{
	width: 100%;
	float: left;
}
.machineDiv a
{
	float: left;
	margin: 10;
	vertical-align: middle;
}
.machineDiv img
{
	float: right;
	margin: 10;
	vertical-align: text-bottom;
}

.elecKeyMonitorDiv
{
	float: left;
	width: 45%;
	margin: 20 10 0 10;
	height: 950px;
	padding: 20;
	border: dashed 2px #ccc;
	background-color: #eee;
}