.rowDiv
{
	width: 100%;
	float: left;
	color: black;
}
.infoName,.infoData,.firstInfoName,.firstInfoData
{
	float: left;
	border: 1px solid #aaa;
	text-align: center;
	word-break: break-all;
	margin-right: -1px;
	padding-top: 5px;
	padding-bottom: 5px;

	display: block;
    height: 25px;
    line-height: 25px;
}
.infoName,.infoData
{
	margin-top: -1px;
	display: block;
    float: left;
    height: 25px;
    line-height: 25px;
}
.infoName,.infoData,.firstInfoName,.firstInfoData
{
	width: 49%;
}
.reversalInfoTable .firstInfoName,.reversalInfoTable .firstInfoData
{
	background-color: #ccc;
}
.reversalInfoTable .infoName,.reversalInfoTable .firstInfoName
{
	margin-right: 1px;
	float: right;
	width: 30%;
	height: 17px;
}
.reversalInfoTable .infoData,.reversalInfoTable .firstInfoData
{
	height: 17px;
}
.infoName img,.firstInfoName img
{
	width: 18;
	height: 18.2;
}
.reversalInfoTable .infoData,.reversalInfoTable .firstInfoData
{
	float: right;
	width: 68.7%;
}