#mainContainer
{
	margin: 0 auto;
	width: 1400px;
	padding: 0;
}

#mainBodyDiv
{
	width: 100%;
	float: left;
	padding: 0;
	min-height: 710px;
	height:100%;
	background-color:#fff;
	margin-bottom: 20px;
}

#mainHeadDiv
{
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 1px;
}

#navDiv
{
	float: left;
	margin: 0;
	width: 22%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	height: 100%;
	overflow-x: visible; 
	overflow-y: auto;
}

#contentDiv
{
	float: left;
	margin: 0;
	padding: 0;
	width: 77%;
	margin-left: 8px;
	height: 100%;
}

#modelDiv,#baseinfoDiv,#faultTreeDiv,#diagnosisDiv
{
	float: left;
	margin: 2;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

#modelContent,#baseinfoContent,#faultTreeContent,#diagnosisContent,#forecastContent
{
	float: left;
	width: 100%;
	height: 85%;
	overflow-y:auto;
	overflow-x:hidden;
}

#diagnosisDiv,#forecastDiv
{
	border: solid 1px #ccc;
}

#diagnosisContent,#forecastContent
{
	height: 100%;
}

#modelContent
{
	text-align: center;
}

#modelDiv
{
	width: 99%;
	height: 337;
	border-top: solid 1px #ccc;
}

#baseinfoDiv
{
	width: 99%;
	height: 337;
}

#faultTreeDiv{
	width: 25%;
	height: 100%;
	display: none;
}

#diagnosisDiv,#forecastDiv
{
	width: 100%;
	height: 100%;
}

#faultTreeTitleDiv,#diagnosisTitleDiv,#forecastTitleDiv
{
	float: left;
	text-align: left;
	background-color: #dddddd;
	padding: 5px 10px;
	font-weight: 900;
}

#faultTreeTitleDiv
{
	width: 92%;
}

#diagnosisTitleDiv,#forecastTitleDiv
{
	width: 97.2%;
}

.modelImg
{
	cursor: pointer;
	margin-top: 20px;
	width: 70%;
	height: 90%;
}