.bullet
{
	cursor: pointer;
	white-space:nowrap; 
	overflow:hidden; 
	width: 12em;
}
.bullet:hover
{
	text-overflow:ellipsis;
	overflow:visible;
}
.itemTitle
{
	padding-left: 1em; 
	cursor: pointer;
}
.itemContent>.bullet
{
	padding-left: 1em; 
	margin-left: 1em;
}
.treeItem
{
	margin-left: 1em;
}
.treeItem .titleShow
{
	background: url(../assets/menu/minus.gif) no-repeat;
}
.treeItem .titleHide
{
	background: url(../assets/menu/plus.gif) no-repeat;
}
.treeItem .menuSelected
{
	background-color: #9cf;
}
.treeItem .contentHide
{
	display: none;
}

.treeItem .contentShow
{
	display: block;
}
.listItem .sn
{
	float: left;
}