#titleContainerDiv
{
	float: left;
	width: 100%;
  background-color: #eee;
}
#titleDiv
{
	float: left;
	width: 100%;
	font-family: "微软雅黑";
	font-weight: bold;
  font-size: 40px;
	padding-top: 10px;
  padding-bottom: 10px;
	text-align: center;

}

#title2Div
{
	float: left;
	width: 90%;
	font-family: "微软雅黑";
	font-weight: bold;
  	font-size: 30px;
	padding-top: 10px;
  	padding-bottom: 10px;
	text-align: right;
	color: red;
}

#devNameDiv
{
	
	font-family: "楷体";
	font-weight: bold;
  	font-size: 25px;
}

