body
{
    margin: 0;
}

#wrapper
{
    margin: 0 auto;
    width: 1400px;
}

#container
{
   float: left;   ;
   width: 100%;
   min-height: 600px;
}
#menuContainer
{
   float: left;
    width: 15%;
}

#mainContainer
{
   float: left;
   width: 79%;
    margin-left: 4px;
   /*// border: 1px solid #AAAAAA;*/
    margin-top: 5px;
}
