#main{
       background-color: #EEEEEE;
         width: 1050px;
      height: 1000px;
}
.title{
    background-color: #999999;
    height: 30px;
    width: 1050px;
}
.title-font{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
    color:white;
}
.theader{
    background-color: #EEEEEE;
    width: 900px;
    height: 25px;
    /*margin-top: 15px;*/
    display: inline-block;
    margin-bottom: 0px;

}

.item{

    width: 218px;
    height: 25px;
    margin-left: 10px;
    /*display: inline-block;*/
    margin-bottom: 0px;
    text-align: center;
    display:none;
}
.item2{

    width: 218px;
    height: 25px;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
  /*  display:none;*/
}
.item1{

    width: 430px;
    height: 25px;

    display: inline-block;
    margin-bottom: 0px;
    text-align: center;

}


.menjia{

    background-color: #EEEEEE;
    width:900px;
    height: 950px;
    display: inline-block;
}
.menjia-item1{
    margin-left: 10px;
    display:none;
    width:218px;
    height: 700px;
    /*display: inline-block;*/
    text-align:center;
    float:left;
}
.menjia-item2{
    margin-left: 10px;
    margin-top: 10px;
    width:430px;
    height: 700px;
    display: inline-block;
    float:left;
}
.menjia-item3{
    margin-left: 10px;
    margin-top: 10px;
    width:218px;
    height: 700px;
    display: inline-block;
    float:left;
}
.t1{
    display: inline-block;
    float:left;

    width: 430px;
    height: 42px;
    margin-top: 2px;
    text-align: center;
}
.t2{
    display: inline-block;
    float:left;

    width: 218px;
    height: 42px;
    margin-top: 2px;
    text-align: center;
}
.t3{
    display: inline-block;
    float:left;
    width: 218px;
    height: 168px;
    margin-top: 2px;
    text-align: center;
}
.t4{
    display: inline-block;
    float:left;
    width: 218px;
    height: 252px;
    margin-top: 2px;
    text-align: center;
}
.t5{
    display: inline-block;
    float:left;
    width: 218px;
    height: 294px;
    margin-top: 2px;
    text-align: center;
}
.btn{
    background-color: white;
    width:100px;
    height:35px;
    display:inline-block;
    text-align: center;
}
.btn1{
    background-color: white;
    width:100px;
    height:35px;
    display:inline-block;
    text-align: center;
}
#left{
    width: 265px;
    float: left;
    min-height: 820px;
    border: 1px solid #999999;
    margin-top: 5px;
    overflow: auto;
}
#content{
    width: 1070px;
    float:left;
    margin-top: 5px;
    margin-left: 5px;
    overflow: auto;
    border: 1px solid #999999;
    height: 820px;
}

body{
     font-size: 20px;
     margin: 0px;
     width: 1350px;
}
ul li{
      list-style: none;
}
li{
    list-style-image: url('../images/plus.gif');
}
#treemenu{
         width: 385px;
}
.daochu{
    margin-left: 800px;
    cursor: pointer;
}
.b{
    width: 80px;
    background-color: #999999;
    margin-left: 115px;
    display: inline-block;
    margin-top: 5px;
    height: 30px;
    text-align: center;
    line-height: 30px;

}
.b a{
    color: #ffffff;
    text-decoration: none;
}

